extends layout

block content
  h1 Chat
  strong.d-block.mb-3.user-email= user
  div.card
    div.card-body
      div.row
        div.col-3
          ul.list-group.list-group-flush
            each room in rooms
              li.list-group-item.room-item(data-id=room.id)= room.name
        div.col-9
          div.messages
          form(method='POST', action='/api/chat/message')
            div.input-group.input-send
              input(type='hidden', name='room' value='0')
              input.form-control(type='text', placeholder='...', name='message')
              div.input-group-append
                button.btn.btn-primary.btn-send(type='submit') Send

  script
    include ../public/javascript/chats.js