extends layout

block content
  h1.mb-4 Register
  form(method='POST')
    div.form-group
        label(for='email') Email:
        input#email.form-control(type='text', placeholder='example@email.com' name='email')
    div.form-group
        label(for='password') Password:
        input#password.form-control(type='password' name='password')
    div.form-group
        label(for='password-confirm') Confirm Password:
        input#password-confirm.form-control(type='password' name='confirmPassword')
    button.btn.btn-primary.btn-block(type='submit') Sign up